node_modules
.dist
.vscode/settings.json
frontend/dist
frontend/node_modules
backend/__pycache__
backend/.venv
backend/.pytest_cache
backend/.mypy_cache
backend/.ruff_cache
backend/.env
frontend/.env
*.pyc
*.pyo
*.pyd
.DS_Store
.env
backend/app/core/data.json
